# Build and test directories
target/
**/src/test/**

# IDEs and editors
.idea/
.vscode/
*.iml

# Logs
*.log

# System Files
.DS_Store

# Development environment configuration
**/src/main/resources/application-dev.properties

# Q클래스
/src/main/generated/
